.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 80px;
    margin-left: 260px;
}

.item {
    width: 235px;
    height: 410px;
    border: 2px rgb(220, 220, 220) solid;
    margin-right: 40px;
    margin-bottom: 20px;
}

.item__image {
    display: flex;
    justify-content: center;
    height: 200px;
}

.item__image img {
    height: 200px;
}

.item__characteristics {
    padding-top: 10px;
    padding-left: 20px;
}
.item__buttons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.item__buttons__edit {
    height: 30px;
    width: 80px;
    color: #fff;
    background-color: rgb(114, 189, 214);
    border: none;
    border-radius: 5px;
}

.item__buttons__remove {
    height: 30px;
    width: 80px;
    color: #fff;
    background-color: rgb(219, 56, 56);
    border: none;
    border-radius: 5px;
}
